
<!-- PAGE -->
<div class="container py-5">

  <!-- NAVBAR -->
  <nav class="row mb-4">
    <div class="col-lg-5">
      <a class="btn tooltips p-0" (click)="getEmployees()">
        <h2 class="display-4 font-weight-light">StaffFlow Pro</h2>
      </a>
      <p class="font-italic text-muted">Easy employee management.</p>
    </div>
    <!-- Search Employee Form -->
    <form class="form-inline my-2 my-lg-0">
      <input (ngModelChange)="searchEmployee(key.value)" #key="ngModel" ngModel name="key"
      id="searchName" class="form-control mr-sm-2" type="search" placeholder="Who are you looking for?" required>
    </form>
  </nav>
  
  <!-- NOTIFICATION IF NO EMPLOYEES WERE FOUND -->
  <div *ngIf="employees?.length == 0" class="alert alert-primary d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
    </svg>
    <div>
      No employees were found.
    </div>
  </div>

  <!-- EMPLOYEES CARDS -->
  <div class="row text-center" id="employees-container">

    <!-- Add Employee item-->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <a class="btn tooltips p-0" (click)="onOpenModal(null, 'add')">
          <img src="assets/img/add-button.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        </a>
        <h5 class="mb-0">Register</h5><span class="small text-uppercase text-muted">a new employee here</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><i class="fa fa-address-book social-link"></i></li>
        </ul>
      </div>
    </div>
    <!-- End-->    

    <!-- Employee item-->
    <div *ngFor="let employee of employees" class="col-xl-3 col-sm-6 mb-5">

      <div class="position-relative bg-white rounded shadow-sm py-5 px-4">
        <div class="position-absolute top-0 end-0 vstack">
          <a class="btn tooltips pb-0" (click)="onOpenModal(employee, 'update')">
            <i class="fa fa-pencil-square fa-lg text-primary" aria-hidden="true"></i>
          </a>
          <a class="btn tooltips pb-0" (click)="onOpenModal(employee, 'delete')">
            <i class="fa fa-minus-square fa-lg text-danger" aria-hidden="true"></i>
          </a>
        </div>
        
        <img src="{{employee?.imageUrl}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">{{employee?.name}}</h5><span class="small text-uppercase text-muted">{{employee?.jobTitle}}</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a href="{{employee?.email}}" class="social-link"><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="{{employee?.phone}}" class="social-link"><i class="fa fa-phone"></i></a></li>
        </ul>
      </div>

    </div>
    <!-- End-->    

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">Register employee</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
              <div class="form-floating mb-3">
                <input ngModel type="text" name="name" class="form-control" id="name" placeholder="Firstname Lastname" required>
                <label for="name" class="form-label">Name</label>
              </div>
              <div class="form-floating mb-3">
                <input ngModel type="email" name="email" class="form-control" id="email" placeholder="employee@email.com" required>
                  <label for="email" class="form-label">Email Address</label>
              </div>
              <div class="form-floating mb-3">
                <input ngModel type="text" name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" required>
                  <label for="jobTitle" class="form-label">Job title</label>
              </div>
              <div class="form-floating mb-3">
                <input ngModel type="text" name="phone" class="form-control" id="phone" placeholder="+32 345678901" required>
                  <label for="phone" class="form-label">Phone</label>
              </div>
              <div class="form-floating mb-3">
                <input ngModel type="text" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
                  <label for="imageUrl" class="form-label">Picture URL</label>
              </div>
              <div class="modal-footer">
                  <button type="button" id="add-employee-form" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- Update Employee Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateModalLabel">Update employee {{updateEmployee.name}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form #updateForm="ngForm">
              <div class="form-floating mb-3">
                <input type="text" ngModel="{{updateEmployee.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                 <label for="name">Name</label>
              </div>
              <input type="hidden" ngModel="{{updateEmployee.employeeCode}}" name="userCode" class="form-control" id="userCode">
              <input type="hidden" ngModel="{{updateEmployee.id}}" name="id" class="form-control" id="id">
              <div class="form-floating mb-3">
                <input type="email" ngModel="{{updateEmployee.email}}" name="email" class="form-control" id="email" placeholder="Email">
                 <label for="email">Email Address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" ngModel="{{updateEmployee.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
                 <label for="jobTitle">Job title</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" ngModel="{{updateEmployee.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                 <label for="phone">Phone</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" ngModel="{{updateEmployee.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                 <label for="imageUrl">Image URL</label>
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateEmployee(updateForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>

          </div>
        </div>
      </div>
    </div>
    <!-- End -->

    <!-- Delete Employee Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-danger" id="deleteModalLabel">Remove employee</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 text-danger" viewBox="0 0 16 16">
                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg>
          </span>
            <span>Are you sure you want to remove employee {{deleteEmployee.name}}?</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button (click)="onDeleteEmployee(deleteEmployee.id)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

  </div>
    

</div>